:root{
    --prinary-text-color:#212121;
    --description-text-color:#757575;
    --accent-color:#2196F3;
    --white-text-color:#FFFFFF;
    --address-color:rgba(255, 255, 255, 0.6);
    --logo-main:#2196f3;
    --logo-header:#000000;
    --logo-footer:#ffffff;
    --button-color: #2196F3;
    --frame-color: #EEEEEE;
    --hero-bgr-color:#2F303A;
    --secondary-bgr-color:#F5F4FA;
    --prinary-bgr-color:#FFFFFF;
    --footer-bgr-color:#2F303A;
}


body {
    
    color:var(--prinary-text-color);
       
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
.conteiner{
    width: 1200px;
    margin-left: auto;
margin-right: auto;

padding-left: 15px;
padding-right: 15px;

}
.header{
border-bottom: 1px solid var(--frame-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo{
    color: var(--logo-main);
    font-family: Raleway, cursive;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
}

.logo-head {
    color:var(--logo-header)
}

.footer .logo {
    display:block;
    margin-bottom: 20px;
}
.logo-footer{
    color: var(--logo-footer);
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* header */


.header-conteiner{
    display: flex;
    align-items: center;
}
.nave{
    display: flex;
    align-items: center;
}


.site-nave{
    display: flex;
    margin-left: 93px;
}
.site-nave .item{
    margin-right: 50px;
    }
    .site-nave .item:last-child{
        margin-right: 0;
    }
           

.site-nave .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
color:var(--prinary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nave .link:hover, 
.site-nave .link:focus{
    color: var(--accent-color);
}
.site-nave .current{
    color: var(--accent-color);
}
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts .item +.item{
    margin-left: 50px;
}
.contacts .contact{
    color:var(--description-text-color);
font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .contact:hover,
.contacts .contact:focus {
    color:var(--accent-color);
}
      /* main */
        /* заказть услугу */
.hero{
    background-color:var(--hero-bgr-color);
    text-align: center;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--white-text-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.button{
    background-color: var(--button-color);
    color:var(--white-text-color);
    cursor: pointer;
        width: 200px;
        height: 50px;
        padding: 10px 30px;
        border-radius: 4px;
        border-color: transparent;
}

.hero .conteiner{
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 270px;
    padding-right: 270px;
}
/* особенности */


.benefits-item{
    display: flex;
    justify-content: space-between;
}
.benefits-item .item{
    width: 270px;
    
}
.team-description, 
.benefits-description{
    color:var(--description-text-color);
}
.benefits-description{
    margin-top: 0;
    margin-bottom: 0%;
    line-height: 1.71;
}


.benefits-title{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}


/* чем мы занимаемся */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-work{
    padding-top: 0;
}

.section-title{
    margin-top: 0px;
    margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}
.work{
    display: flex;
}
.work .item{
    margin-right: 30px;
}
.work .item:last-child{
    margin-right: 0px;
}
/* наша команда */

.section-team {
    background-color:var(--secondary-bgr-color);
}

.team-list{
    display: flex;
}
.team-list .item{
    margin-right: 30px;
    background-color:var(--prinary-bgr-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child{
    margin-right: 0px;
}
.foto{
    margin-bottom: 30px;
}

.team-name{
    margin-top: 0;
        margin-bottom: 10px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
}
.team-description{
        font-size: 16px;
        line-height: 1.9;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
}

/* футер */

.footer{
    background-color: var(--footer-bgr-color);
}
.footer .conteiner{
    padding-top: 60px;
    padding-bottom: 60px;
}
.address .main{
    color: var(--white-text-color);
}
.address .contact{
    color: var(--address-color);
}

.address-list .contact:hover,
.address-list .contact:focus {
    color: var(--accent-color);
}
.address{
    font-style: normal;
    line-height: 1.71;
}
/* Портфолио */
.main-portfolio{
   
}


.filter{
    display: flex;
justify-content: center;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.portfolio .title {
    margin-top: 0;
        margin-bottom: 4px;
    color: var(--prinary-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;    
        letter-spacing: 0.06em;
}
.portfolio .description{
    margin-top: 0;
        margin-bottom: 0px;
    color: var(--description-text-color);
        font-size: 16px;
        line-height: 1.88;
}

.button-filter:hover{
background-color: var(--accent-color);
color: var(--white-text-color);
font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}




.button-filter:focus{
   background-color: var(--accent-color);
color: var(--white-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.filter{
    margin-bottom: 50px;
}
.button-filter{
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
    text-align: center;
    border-color: transparent;
    border-radius: 4px;
}
.filter .item{
    margin-right: 8px;
}
.filter .item:last-child{
    margin-right: 0;
}
.active{
    background-color: var(--accent-color);
        color: var(--white-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
}
.portfolio .item{
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
img{
    display: block;
        max-width: 100%;
        height: auto;
}


.portfolio .item:nth-child(3n) {
    margin-right: 0px;
}

.portfolio .item:nth-last-child(-n+3) {
            margin-bottom: 0;
    }






